<p class="singlePrice"><strong>Sales Price:</strong> ${{fieldValue}}</p>
<p class="singleStore"><strong>Store:</strong> {{fieldValue3}}</p>

<a href={{fieldValue2}} target="_blank" class="dealButton">See Deal</a>
<p class="singleURL"><strong>URL:</strong> <a href={{fieldValue2}} target="_blank">{{fieldValue2}}</a></p>

